@import url('https://fonts.googleapis.com/css?family=Lora|Roboto');
@font-face {
font-family: "Bromello";
src: url("bromello.otf");
}

.lora {
    font-family: 'Lora', serif;
    color: #783e4c;
}
.roboto{
    font-family: 'Roboto', sans-serif;
    color: #783e4c;
}
.bromello {
    font-family: "Bromello";
    font-size: 8em;
    color: #493A59;
    font-weight: 800;
}
.top {
    padding-top: 2em;
}
p {
    color: #493A59;
    font-size: 1.7em;
}
#background {
    background-image: url(sky.jpg);
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#background1 {
    background-image: url(darksky.png);
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


#drop {
    margin: 1em 1em;
    box-shadow: 2px 2px;
}
h2 {
    color: #493a59;
    font-weight: 600;
}
h3 a:link, a:visited, a:hover, a:active {
    color: #783e4c; 
}

h2 a:link, a:visited, a:hover, a:active {
    color: #783e4c; 
}
h1 a:link, a:visited, a:hover, a:active {
    color: #493a59; 
}

.white {
    color: #fff;
}
.camelot {
    background-color: #783e4c !important;
    color: #fff !important;
    opacity: 0.3 !important;
}
.lots {
    margin: 1em 0;
}
.little {
    margin: 0.5 0;
}

.padding {
    padding-bottom: 3em;
}